[core]
  pager = delta
  editor = nvim
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[diff]
  colorMoved = default
[help]
  autocorrect = 1
[init]
  templatedir = ~/.config/git/template
  defaultBranch = main
[include]
  path = ~/.config/git/aliases
[interactive]
  diffFilter = delta --color-only
[add.interactive]
  useBuiltin = false # required for git 2.37.0
[merge]
  tool = vim_mergetool
  conflictStyle = diff3
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "vim_mergetool"]
  cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
  trustExitCode = true
[push]
  autoSetupRemote = true
[pull]
  ff = only
[user]
  name = Filip Godlewski
  email = 54432731+filipgodlewski@users.noreply.github.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEJhbdVaczV+Wr8uEpD4j4Ay6S9hZDr8GwNSHNUtT80J
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true
