[core]
  editor = nvim
[include]
  path = ~/.config/git/aliases
[diff]
  colorMoved = default
[help]
  autocorrect = 1
[init]
  templatedir = ~/.config/git/template
  defaultBranch = main
[merge]
  tool = vim_mergetool
  conflictStyle = diff3
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "vim_mergetool"]
  cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
  trustExitCode = true
[pull]
  ff = only
