[core]
  editor = "nvim"
  pager = delta
[diff]
  tool = vimdiff
  colorMoved = default
[delta]
  navigate = true
  side-by-side = true
[help]
  autocorrect = 1
[include]
  path = ~/.config/git/aliases
[init]
  templatedir = ~/.config/git/template
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[merge]
  tool = vim_mergetool
  conflictStyle = diff3
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "vim_mergetool"]
  cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
  trustExitCode = true
[pull]
  ff = only
