[submodule "nvim/.local/share/nvim/site/pack/plugins/start/vim-bbrackets"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/vim-bbrackets
	url = https://github.com/filipgodlewski/vim-bbrackets.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/which-key.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/gitsigns.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/plenary.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/popup.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-treesitter"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/telescope.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-lspconfig"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/trouble.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/trouble.nvim
	url = https://github.com/folke/trouble.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-autopairs"]
	url = https://github.com/windwp/nvim-autopairs.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-autopairs
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/vim-python-pep8-indent"]
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/vim-python-pep8-indent
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-toggleterm.lua"]
	url = https://github.com/akinsho/nvim-toggleterm.lua.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-toggleterm.lua
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/cmp-nvim-lsp"]
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/cmp-nvim-lsp
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-cmp"]
	url = https://github.com/hrsh7th/nvim-cmp.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-cmp
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/evernight.nvim"]
	url = https://github.com/azolus/evernight.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/evernight.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/telescope-fzf-native.nvim"]
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/telescope-fzf-native.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-web-devicons"]
	url = https://github.com/kyazdani42/nvim-web-devicons.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-web-devicons
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/cmp-buffer"]
	url = https://github.com/hrsh7th/cmp-buffer.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/cmp-buffer
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/cmp-nvim-lsp-signature-help"]
	url = https://github.com/hrsh7th/cmp-nvim-lsp-signature-help.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/cmp-nvim-lsp-signature-help
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/cmp-conventionalcommits"]
	url = https://github.com/davidsierradz/cmp-conventionalcommits.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/cmp-conventionalcommits
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/cmp-path"]
	url = https://github.com/hrsh7th/cmp-path.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/cmp-path
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/cmp-cmdline"]
	url = https://github.com/hrsh7th/cmp-cmdline.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/cmp-cmdline
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-lightbulb"]
	url = https://github.com/kosayoda/nvim-lightbulb.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-lightbulb
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/renamer.nvim"]
	url = https://github.com/filipdutescu/renamer.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/renamer.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-ts-context-commentstring"]
	url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-ts-context-commentstring
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/close-buffers.nvim"]
	url = https://github.com/kazhala/close-buffers.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/close-buffers.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/LuaSnip"]
	url = https://github.com/L3MON4D3/LuaSnip.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/LuaSnip
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/telescope-luasnip.nvim"]
	url = https://github.com/benfowler/telescope-luasnip.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/telescope-luasnip.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/cmp_luasnip"]
	url = https://github.com/saadparwaiz1/cmp_luasnip.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/cmp_luasnip
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-test"]
	url = https://github.com/klen/nvim-test.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-test
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-dap"]
	url = https://github.com/mfussenegger/nvim-dap.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-dap
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-dap-python"]
	url = https://github.com/mfussenegger/nvim-dap-python.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-dap-python
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/cmp-nvim-lua"]
	url = https://github.com/hrsh7th/cmp-nvim-lua.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/cmp-nvim-lua
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/Comment.nvim"]
	url = https://github.com/numToStr/Comment.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/Comment.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/telescope-ui-select.nvim"]
	url = https://github.com/nvim-telescope/telescope-ui-select.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/telescope-ui-select.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/todo-comments.nvim"]
	url = https://github.com/folke/todo-comments.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/todo-comments.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/iswap.nvim"]
	url = https://github.com/mizlan/iswap.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/iswap.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-code-action-menu"]
	url = https://github.com/weilbith/nvim-code-action-menu.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-code-action-menu
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/diffview.nvim"]
	url = https://github.com/sindrets/diffview.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/diffview.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/git-conflict.nvim"]
	url = https://github.com/akinsho/git-conflict.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/git-conflict.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/refactoring.nvim"]
	url = https://github.com/ThePrimeagen/refactoring.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/refactoring.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/null-ls.nvim"]
	url = https://github.com/jose-elias-alvarez/null-ls.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/null-ls.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-gps"]
	url = https://github.com/SmiteshP/nvim-gps.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-gps
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/rust-tools.nvim"]
	url = https://github.com/simrat39/rust-tools.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/rust-tools.nvim
[submodule "zsh/.local/share/zsh/plugins/zdharma-continuum/fast-syntax-highlighting"]
	path = zsh/.local/share/zsh/plugins/zdharma-continuum/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "zsh/.local/share/zsh/plugins/filipgodlewski/dot"]
	path = zsh/.local/share/zsh/plugins/filipgodlewski/dot
	url = https://github.com/filipgodlewski/dot.git
[submodule "zsh/.local/share/zsh/plugins/zsh-users/zsh-autosuggestions"]
	path = zsh/.local/share/zsh/plugins/zsh-users/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.local/share/zsh/plugins/zsh-users/zsh-completions"]
	path = zsh/.local/share/zsh/plugins/zsh-users/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.local/share/zsh/plugins/zsh-users/zsh-history-substring-search"]
	path = zsh/.local/share/zsh/plugins/zsh-users/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
