[submodule "zsh/.local/share/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.local/share/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.local/share/zsh/plugins/zsh-completions"]
	path = zsh/.local/share/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.local/share/zsh/plugins/zsh-history-substring-search"]
	path = zsh/.local/share/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/.local/share/zsh/plugins/propane"]
	path = zsh/.local/share/zsh/plugins/propane
	url = https://github.com/filipgodlewski/propane.git
[submodule "tmux/.local/share/tmux/nord-tmux"]
	path = tmux/.local/share/tmux/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux.git
[submodule "zsh/.local/share/zsh/plugins/fast-syntax-highlighting"]
	path = zsh/.local/share/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/vim-bbrackets"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/vim-bbrackets
	url = https://github.com/filipgodlewski/vim-bbrackets.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/vim-repeat"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "alacritty/.local/share/alacritty/nord-alacritty"]
	path = alacritty/.local/share/alacritty/nord-alacritty
	url = https://github.com/arcticicestudio/nord-alacritty.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/which-key.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/gitsigns.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/plenary.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/popup.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-treesitter"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/telescope.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-lspconfig"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/vim-commentary"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "other/.local/share/other/lua-language-server"]
	path = other/.local/share/other/lua-language-server
	url = https://github.com/sumneko/lua-language-server.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-compe"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/aurora"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/aurora
	url = https://github.com/ray-x/aurora.git
[submodule "alacritty/.local/share/alacritty/alacritty-aurora"]
	path = alacritty/.local/share/alacritty/alacritty-aurora
	url = https://github.com/filipgodlewski/alacritty-aurora.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/markdown-preview.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/trouble.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/trouble.nvim
	url = https://github.com/folke/trouble.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-web-devicons"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/lspsaga.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/lspsaga.nvim
	url = https://github.com/glepnir/lspsaga.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/ale"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/orgmode.nvim"]
	url = https://github.com/kristijanhusak/orgmode.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/orgmode.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/astronauta.nvim"]
	url = https://github.com/tjdevries/astronauta.nvim.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/astronauta.nvim
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-autopairs"]
	url = https://github.com/windwp/nvim-autopairs.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-autopairs
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/vim-surround"]
	url = https://github.com/tpope/vim-surround.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/vim-surround
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/vim-python-pep8-indent"]
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/vim-python-pep8-indent
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-toggleterm.lua"]
	url = https://github.com/akinsho/nvim-toggleterm.lua.git
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-toggleterm.lua
