[submodule "zsh/.local/share/zsh/plugins/zdharma-continuum.fast-syntax-highlighting"]
	path = zsh/.local/share/zsh/plugins/zdharma-continuum.fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "zsh/.local/share/zsh/plugins/zsh-users.zsh-autosuggestions"]
	path = zsh/.local/share/zsh/plugins/zsh-users.zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.local/share/zsh/plugins/zsh-users.zsh-completions"]
	path = zsh/.local/share/zsh/plugins/zsh-users.zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.local/share/zsh/plugins/zsh-users.zsh-history-substring-search"]
	path = zsh/.local/share/zsh/plugins/zsh-users.zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/.local/share/zsh/plugins/filipgodlewski.dot"]
	path = zsh/.local/share/zsh/plugins/filipgodlewski.dot
	url = https://github.com/filipgodlewski/dot.git
[submodule "zsh/.local/share/zsh/plugins/filipgodlewski.zsh-wrappers"]
	path = zsh/.local/share/zsh/plugins/filipgodlewski.zsh-wrappers
	url = https://github.com/filipgodlewski/zsh-wrappers.git
[submodule "zsh/.local/share/zsh/plugins/filipgodlewski.venv"]
	path = zsh/.local/share/zsh/plugins/filipgodlewski.venv
	url = https://github.com/filipgodlewski/venv.git
[submodule "sys/.local/share/sys/StevenBlack.hosts"]
	path = sys/.local/share/sys/StevenBlack.hosts
	url = https://github.com/StevenBlack/hosts.git
[submodule "zsh/.local/share/zsh/plugins/filipgodlewski.you"]
	path = zsh/.local/share/zsh/plugins/filipgodlewski.you
	url = https://github.com/filipgodlewski/you.git
