format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$line_break\
$character"""

[username]
format = "[ $user]($style) "

[hostname]
ssh_symbol = " "

[directory]
read_only = "󰌾 "
format = "[󰝰 $path]($style)[$read_only]($read_only_style) "
style = "blue"

[character]
success_symbol = "[󱞩 ](green)"
error_symbol = "[󱎘 ](red)"
vimcmd_symbol = "[ ](yellow)"

[git_branch]
symbol = " "
style = "bold purple"
format = "[$symbol$branch(:$remote_branch)]($style) "

[git_status]
format = """[( \
[($conflicted)](purple)\
[($untracked)](white)\
[($modified)](yellow)\
[($staged)](green)\
[($renamed)](blue)\
[($deleted)](red)\
[($ahead_behind)](white)\
[($stashed)](cyan)  )](bold)"""
style = "cyan"
ahead = " "
behind = " "
diverged = " "
conflicted = " "
deleted = " "
modified = " "
renamed = " "
staged = " "
stashed = " "
untracked = " "

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"
