snippet START "Start point for most of the .robot files"
*** Settings ***


*** Variables ***


*** Test Cases ***


*** Keywords ***


endsnippet

snippet TC "Test Case placeholder"
${1:Test Case 1}
    ${2:Step 1}
endsnippet
