snippet td "Quick To Do item"
- [ ] ${1:item}
endsnippet

snippet link "link"
[${1:name}](${2:address})
endsnippet

snippet img "image tag"
![${1:screenshot}](${2:address})
endsnippet

snippet cb "Fenced Code Block" b
\`\`\`$1
$2
\`\`\`
endsnippet
