alias calias="v ~/.config/.aliases"
alias cfg="/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME"
alias cfunction="v ~/.config/.functions"
alias cga="cfg add"
alias cgc="cfg commit -v"
alias cgp="cfg push"
alias cgss="cfg status -s"
alias cgsu="cfg submodule update --remote --merge"
alias crmd="v ~/README.md"
alias cvim="v ~/.vimrc"
alias czsh="v ~/.zshrc"
alias ctags="`brew --prefix`/bin/ctags"
# alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//' | cut -d' ' -f1"
alias jn="jupyter notebook"
alias jnd="jupyter nbextension disable connector-jupyter --py --sys-prefix"
alias jne="jupyter nbextension enable connector-jupyter --py --sys-prefix"
alias jni="jupyter nbextension install connector-jupyter --py --sys-prefix"
alias la="exa -al --color=always --group-directories-first --git"
alias ll="exa -l --color=always --group-directories-first"
alias ls="exa --color=always --group-directories-first --git-ignore"
alias lt="exa -DT --color=always --group-directories-first --level=3 --git-ignore"
alias lti="exa -DT --color=always --group-directories-first --level=3 --git"
alias paths="echo $PATH | tr ':' '\n'"
alias python="python3"
alias reload="source ~/.zshrc"
alias rf="rm -rf"
alias v="vim"
alias vd="vim -d"
